@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
body {
  line-height: 1.5;
}
.card-wrapper {
  margin: auto;
}
.image-slider {
  padding-left: 10%;
  padding-top: 5%;
  padding-bottom: 10%;
  padding-right: 20%;
}

.product-content {
  padding: 2rem 1rem;
}
.product-title {
  font-size: 1.7rem;
  text-transform: capitalize;
  font-weight: 700;
  position: relative;
  color: #12263a;
  margin: 1rem 0;
}
.product-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 80px;
  background: #12263a;
}
.product-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.9rem;
  display: inline-block;
  margin-bottom: 0.5rem;
  background: #256eff;
  color: #fff;
  padding: 0 0.3rem;
  transition: all 0.5s ease;
}
.product-link:hover {
  opacity: 0.9;
}
.product-rating {
  color: #ffc107;
}
.product-rating span {
  font-weight: 600;
  color: #252525;
}
.product-price {
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 700;
}
.product-price span {
  font-weight: 400;
}
.last-price span {
  color: #f64749;
  text-decoration: line-through;
}
.new-price span {
  color: #256eff;
}
.product-detail h2 {
  font-weight: 600;
  font-size: 1.5rem;
  color: #12263a;
  padding-bottom: 0.6rem;
}
.product-detail p {
  font-size: 0.9rem;
  padding: 0.3rem;
  font-weight: 600;
}

.purchase-info {
  margin: 1.5rem 0;
}

.purchase-info .btn {
  cursor: pointer;
  color: #fff;
}
.purchase-info .btn:first-of-type {
  background: #256eff;
}
.purchase-info .btn:last-of-type {
  background: #f64749;
}
.purchase-info .btn:hover {
  opacity: 0.9;
}
.social-links {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1000px) {
  .card {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 7.5rem;
  }
  .card-wrapper {
    margin-top: 5px;
    margin-bottom: 100px;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 10px;
    }

  .product-content {
    padding-top: 0;
  }
}

.product-detail ul {
  font-size: 0.9rem;
  padding-left: 0px;
}
.product-detail ul li {
  font-size: 1rem;
  font-weight: 700;
}
.product-detail ul li span {
  position: absolute;
  font-weight: 400;
  padding-left: 7px;
}
@media only screen and (max-width: 550px) {
  .carousel-item {
    height: 55vh;
  }
  .carousel-img {
    object-fit: fill;
  }
  #carouselExampleRide {
    margin-top: 100px;
  }
}
@media only screen and (max-width: 500px) {
  .carousel-item {
    height: 40vh;
  }
  .carousel-img {
    object-fit: fill;
  }
  #carouselExampleRide {
    margin-top: 100px;
  }
}
@media only screen and (max-width: 350px) {
  .carousel-item {
    height: 30vh;
  }
  .carousel-img {
    object-fit: fill;
  }
  #carouselExampleRide {
    margin-top: 100px;
  }
}
