.bookContainer{
  
    display: flex;
  justify-content: center;
  
}
@media (max-width: 732px) {
  .bookContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
 }
 /*
.bookContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.bookContainer > * {
  width: calc(25% - 16px);
  margin-bottom: 16px;
}

@media (max-width: 732px) {
  .bookContainer {
    flex-direction: column;
  }

  .bookContainer > * {
    width: calc(50% - 16px);
  }
} */