* {
  font-family: Montserrat;
}

.categories {
  display: inline-flex;
}
.container {
  position: relative;
  width: 50%;
  max-width: 300px;
}

.container img {
  display: block;

  width: 90%;
  height: 92%;
  object-fit: cover;

  top: 0;
  padding: 22px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

.overlay {
  position: absolute;
  bottom: 19px;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.4); 
  justify-content: center;
  
  color: #f1f1f1;
  width: 66%;
  height: 5%;
  transition: 0.5s ease;
  opacity: 0;
  color: white;
  font-size: 21px;
  padding: 27px;
  margin-left: 23px;
  margin-bottom: 20px;
  text-align: center;
  padding-top: 10px;
}

.container:hover .overlay {
  opacity: 1;
}
